Python>=2.7
Flask==1.1.1
Jinja2==2.10.1

packages required:
json
random
time
ast
codecs
subprocess
jsonlines


====virtual environment===
// create virtual env for package installation
python3 -m venv venv

// activate virtual env
. venv/bin/activate