<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Patiant Distress Monitor</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <style>
        body {
            --border-color: rgb(192, 164, 88);

            background-color: black;
        }

        h1 {
            color: blue;
        }

        p {
            color: red;
        }

        /*  */
        .top-bar div {
            border: 1px solid var(--border-color);
            color: white;
        }


        .bordered {
            border: 1px solid var(--border-color);
        }

        canvas {
            padding-top: 20px;
            padding-bottom: 10px;
            height: 15vh;
        }

        .data-cell {
            height: 15vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            border-top-width: 2px;
            border-bottom: none;
            width: 100%;
        }

        .data-col {
            display: flex;
            flex-direction: column;
            background-color: red;
        }

        #hb-data {
            color: greenyellow;
        }

        #spo2-data {
            color: #2ac2f5;
        }

        .warning-hight {
            color: red;
            font-weight: bold;
            animation: warning 1.5s linear infinite;
        }

        .warning-low {
            color: rgb(255, 196, 0);
            font-weight: bold;
        }

        @keyframes warning {
            0% {
                opacity: 0.5;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0.5;
            }
        }
    </style>
</head>

<body>
    <!------------------ top bar---------------- -->
    <div class="row top-bar">
        <div class="col-4">
            <span>patient id:</span>
            <span id="patient"></span>
        </div>

        <div class="col-4">
            <span id="time"></span>
        </div>

        <div class="col-4">
            <span class="" id="warning">stress indication: none</span>
        </div>
    </div>

    <!------------------ graph row hb---------------- -->
    <div class="row">
        <div class=" col-8 chart-container bordered">
            <canvas id="hb-chart"></canvas>
        </div>
        <div id="hb-data" class=" col-4 data-cell">
            -
        </div>
    </div>

    <!------------------ graph row spo2---------------- -->
    <div class="row">
        <div class=" col-8 chart-container bordered">
            <canvas id="spo2-chart"></canvas>
        </div>
        <div id="spo2-data" class=" col-4 bordered data-cell">
            -
        </div>
    </div>


    <!-- lower chart -->
    <div class="row">
        <div class="col-8 logs-col bordered">
            <!-- logs -->
        </div>
        <div class="col-4 data-col">
            <div id="temp-data" class="bordered data-cell">
            </div>
            <div id="sr-data" class="bordered data-cell">
            </div>
            <div id="accel-data" class="bordered data-cell">
            </div>
        </div>

    </div>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script>

        function addData(chart, label, data) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
            chart.update();
        }

        function removeData(chart) {
            if (chart.data.datasets[0].data.length > 5) {
                chart.data.labels.shift();
                chart.data.datasets.forEach(dataset => {
                    dataset.data[0] = dataset.data[1]
                    dataset.data.splice(1, 1)
                })
                chart.update();
            }

        }

        // ====patient=====
        var warningString = '-';
        var warningClass = '';

        $(document).ready(function () {
            //Perform Ajax request.
            $.ajax({
                url: 'patient',
                type: 'get',
                success: function (data) {
                    console.log(data.name); // John
                    document.getElementById('patient').innerText = data.name;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                    $('#content').html(errorMsg);
                }
            });
        });

        // ====current time=====
        $(document).ready(function () {
            //Perform Ajax request.
            setInterval(
                function () {
                    var dt = new Date();
                    sec = dt.getSeconds()
                    if (sec < 10) {
                        sec = '0' + sec;
                    }
                    var time = dt.getHours() + ":" + dt.getMinutes() + ":" + sec;
                    document.getElementById('time').innerText = time;
                }, 1000
            )
        });

        //=========== "Heart Rate" ===========
        $(document).ready(function () {
            const customConfig = { lineColor: 'greenyellow', length: 10 };

            let config = {
                type: 'line',
                data: {
                    pointRadius: 0,
                    labels: [],
                    datasets: [{
                        label: "Heart Rate",
                        backgroundColor: customConfig.lineColor,
                        borderColor: customConfig.lineColor,
                        data: [],
                        fill: false,
                    }],
                },

                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false
                    },
                    scales: {
                        xAxes: [{
                            display: false,
                            scaleLabel: {
                                display: false,
                                labelString: 'Time'
                            },
                            ticks: {
                                autoSkip: false,
                                suggestedMin: 10
                            }
                        }],
                        yAxes: [{
                            display: true,
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 200
                            },
                            scaleLabel: {
                                display: false,
                                labelString: 'Value'
                            }
                        }]
                    },
                    // animation: {
                    //     onComplete: () => {
                    //         if (shiftCount) {
                    //             chart.data.datasets[0].data.splice(0, shiftCount - 1);
                    //             chart.data.labels.splice(0, shiftCount - 1);
                    //             shiftCount = 1;
                    //             chart.scales.x.options.min = chart.data.labels[1];
                    //             chart.update();
                    //         }
                    //     }
                    // }
                }
            };

            const context = document.getElementById('hb-chart').getContext('2d');
            const lineChart = new Chart(context, config);

            const source = new EventSource("/chart-data/hb");

            const currentHb = document.getElementById('hb-data');

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);

           
                config.data.labels.push(data.time);
                config.data.datasets[0].data.push(data.value);

                if (config.data.labels.length === customConfig.length) {
                    config.data.labels.shift();
                    config.data.datasets[0].data[0] =  config.data.datasets[0].data[1] ;
                    config.data.datasets[0].data.splice(1,1);
                    lineChart.update();
                }
                
                currentHb.innerText = data.value + ':/min';
                lineChart.update();
            }
        });

        //=========== "spo2" ===========
        $(document).ready(function () {
            const customConfig = { lineColor: '#2ac2f5', length: 10 };
            let config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        // label: "SPO2 Rate",
                        backgroundColor: customConfig.lineColor,
                        borderColor: customConfig.lineColor,
                        data: [],
                        fill: true,
                    }],
                },
                options: {
                    legend: {
                        display: false,
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        display: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false
                    },
                    scales: {
                        xAxes: [{
                            display: false,
                            scaleLabel: {
                                display: false,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            ticks: {
                                suggestedMin: 50,
                                suggestedMax: 100
                            },
                            scaleLabel: {
                                display: false,
                                labelString: 'Value'
                            }
                        }]
                    }
                }
            };

            const context = document.getElementById('spo2-chart').getContext('2d');

            const lineChart = new Chart(context, config);

            const source = new EventSource("/chart-data/spo2");
            const currentSpo2 = document.getElementById('spo2-data');

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                config.data.labels.push(data.time);
                config.data.datasets[0].data.push(data.value);

                if (config.data.labels.length === customConfig.length) {
                    config.data.labels.shift();
                    config.data.datasets[0].data[0] =  config.data.datasets[0].data[1] ;
                    config.data.datasets[0].data.splice(1,1);
                    lineChart.update();
                }
                currentSpo2.innerText = data.value;
                lineChart.update();

                
            }
        });


        // //=========== "temp" ===========
        // $(document).ready(function () {

        //     const context = document.getElementById('canvas3').getContext('2d');

        //     const lineChart = new Chart(context, config);

        //     const source = new EventSource("/chart-data");

        //     source.onmessage = function (event) {
        //         const data = JSON.parse(event.data);
        //         if (config.data.labels.length === 10) {
        //             config.data.labels.shift();
        //             config.data.datasets[0].data.shift();
        //         }
        //         config.data.labels.push(data.time);
        //         config.data.datasets[0].data.push(data.value);
        //         config.data.datasets[0].label = 'Heart Rate    Current Heart rate: ' + data.va;
        //         lineChart.update();
        //     }
        // });


        // //=========== "sr" ===========

        // $(document).ready(function () {
        //     const hrConfig = { lineColor: 'green' };

        //     let config = {
        //         type: 'line',
        //         data: {
        //             labels: [],
        //             datasets: [{
        //                 label: "Heart Rate",
        //                 backgroundColor: hrConfig.lineColor,
        //                 borderColor: hrConfig.lineColor,
        //                 data: [],
        //                 fill: false,
        //             }],
        //         },
        //         options: {
        //             responsive: true,
        //             title: {
        //                 display: true,
        //                 text: 'Heart Rate'
        //             },
        //             tooltips: {
        //                 mode: 'index',
        //                 intersect: false,
        //             },
        //             hover: {
        //                 mode: 'nearest',
        //                 intersect: false
        //             },
        //             scales: {
        //                 xAxes: [{
        //                     display: true,
        //                     scaleLabel: {
        //                         display: true,
        //                         labelString: 'Time'
        //                     }
        //                 }],
        //                 yAxes: [{
        //                     display: true,
        //                     scaleLabel: {
        //                         display: true,
        //                         labelString: 'Value'
        //                     }
        //                 }]
        //             }
        //         }
        //     };

        //     const context = document.getElementById('canvas4').getContext('2d');

        //     const lineChart = new Chart(context, config);

        //     const source = new EventSource("/chart-data");

        //     source.onmessage = function (event) {
        //         const data = JSON.parse(event.data);
        //         if (config.data.labels.length === 10) {
        //             config.data.labels.shift();
        //             config.data.datasets[0].data.shift();
        //         }
        //         config.data.labels.push(data.time);
        //         config.data.datasets[0].data.push(data.value);
        //         config.data.datasets[0].label = 'Heart Rate    Current Heart rate: ' + data.va;
        //         lineChart.update();
        //     }
        // });

    </script>

</body>

</html>