<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Patiant Distress Monitor</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <style>
        *{
            box-sizing: border-box;
        }
        body {
            --border-color: rgb(192, 164, 88);
            background-color: black;

        }

        /*  */
        .top-bar div {
            border: 1px solid var(--border-color);
            color: white;
        }
        .row{
            border-bottom: 1px solid var(--border-color);
        }
        canvas {
            padding-top: 20px;
            padding-bottom: 10px;
            height: 15vh;
        }

        .data-cell {
            height: 15vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            border-top-width: 2px;
            font-size: 150%;
            -webkit-font-smoothing:antialiased;

position: relative;
        }
        .data-cell .name{
            font-size: 80%;
            left: 10px;
            top: 5px;
            position: absolute;
            color: rgba(255, 208, 0, 0.699);

        }
        .data-col .data-cell:not(:last-child){
            border-bottom: 1px solid var(--border-color);
        }
        .logs-col{
            border-right: 1px solid var(--border-color);

        }
        .data-col {
            display: flex;
            flex-direction: column;
            color:white;

        }

        .chart-container{
            border-right: 1px solid var(--border-color);
        }

        #hb-data {
            color: greenyellow;
        }

        .lower .data-col{
            padding: 0;

        }

        #spo2-data {
            color: #2ac2f5;
        }

        .warning {
            background-color: rgba(255, 0, 0, 0.493);
            font-weight: bold;
            animation: warning 1.5s linear infinite;
            padding: 0 2px;
        }


        #time{
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .button-group{
            display: flex;
            justify-content: flex-end;
        }
        .button-group button{
            margin-left: 20px;;
        }
        .origin{
            font-size: 90%;
        }
        @keyframes warning {
            0% {
                opacity: 0.5;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0.5;
            }
        }
    </style>
</head>

<body>
    <!------------------ top bar---------------- -->
    <div class="row top-bar">
        <div class="col-4">
            <span>patient id:</span>
            <span id="patient"></span>
        </div>

        <div class="col-4">
            <span id="time"></span>
        </div>

        <div class="col-4 button-group">
          <!-- <button> new patient</button>
          <button> start </button>
          <button> stop </button> -->
        </div>
    </div>

    <!------------------ graph row hb---------------- -->
    <div class="row">
        <div class=" col-8 chart-container">
            <canvas id="hb-chart"></canvas>
        </div>
        <div  class="col-4 data-cell">
            <div class="name">  heart rate (i:<span id="hb-origin" class="origin"> </span>) </div>
            <div id="hb-data"> 
                initializing...
            </div>
            <div id="hb-warning" class="warning"></div>
        </div>
    </div>

    <!------------------ graph row spo2---------------- -->
    <div class="row">
        <div class=" col-8 chart-container">
            <canvas id="spo2-chart"></canvas>
        </div>
        <div  class="col-4 data-cell spo2-data-cell">
            <div class="name">  oxygen level (i:<span id="spo2-origin" class="origin"> </span>) </div>
            <div id="spo2-data"> 
                initializing...
            </div>
            <div id="spo2-warning" class="warning"></div>
        </div>
    </div>

    <!-- lower chart -->
    <div class="row lower">
        <div class="col-8 logs-col ">
            <!-- logs -->
        </div>
        <div class="col-4 data-col">

            
            <div class="temp-data-cell data-cell">
                <div class="name"> temperature (i:<span id="temp-origin" class="origin"> </span>) </div>
                <div id="temp-data"> 
                    initializing...
                </div>
                <div id="temp-warning" class="warning"></div>
            </div>
            <div class="sr-data-cell data-cell">
                <div class="name">  skin resistance (i:<span id="sr-origin" class="origin"> </span>) </div>
                <div id="sr-data"> 
                    initializing...
                </div>
                <div id="sr-warning" class="warning"></div>

            </div>
            <div class="accel-data-cell data-cell">
                <div class="name"> motion </div>
                <div id="accel-data"> 
                    initializing...
                </div>
                <div id="accel-warning" class="warning"></div>

            </div>
        </div>
    </div>


    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script>
        // ====patient=====
        var warningString = '-';
        var warningClass = '';
        //time for ini data
        var preparing = true;
        setTimeout(
            ()=>{
                preparing =false;
            }, 4000
        )

        $(document).ready(trackTime);
        $(document).ready(getPatient);
        $(document).ready(hb);
        $(document).ready(spo2);
        $(document).ready(accel);
        $(document).ready(temp);
        $(document).ready(sr);

        function trackTime() {
            //Perform Ajax request.
            setInterval(
                function () {
                    var dt = new Date();
                    sec = dt.getSeconds()
                    if (sec < 10) {
                        sec = '0' + sec;
                    }
                    var time = dt.getHours() + ":" + dt.getMinutes() + ":" + sec;
                    document.getElementById('time').innerText = time;
                }, 1000
            )
        }

        function getPatient() {
            //Perform Ajax request.
            $.ajax({
                url: 'patient',
                type: 'get',
                success: function (data) {
                    console.log(data.name); // John
                    document.getElementById('patient').innerText = data.name;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                    $('#content').html(errorMsg);
                }
            });
        }

        function hb() {
            const customConfig = { lineColor: 'greenyellow', length: 10 };

            let config = {
                type: 'line',
                data: {
                    pointRadius: 0,
                    labels: [],
                    datasets: [{
                        label: "Heart Rate",
                        backgroundColor: customConfig.lineColor,
                        borderColor: customConfig.lineColor,
                        data: [],
                        fill: false,
                    }],
                },

                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false
                    },
                    scales: {
                        xAxes: [{
                            display: false,
                            scaleLabel: {
                                display: false,
                                labelString: 'Time'
                            },
                            ticks: {
                                autoSkip: false,
                                suggestedMin: 10
                            }
                        }],
                        yAxes: [{
                            display: true,
                            ticks: {
                                fontColor:'white',
                                suggestedMin: 0,
                                suggestedMax: 200,
                                fontColor:'white',
                                fontSize:15
                            },
                            scaleLabel: {
                                display: false,
                                labelString: 'Value'
                            }
                        }]
                    }
                }
            };

            const context = document.getElementById('hb-chart').getContext('2d');
            const lineChart = new Chart(context, config);

            const source = new EventSource("/chart-data/hb");

            const currentHb = document.getElementById('hb-data');
            const warning = document.getElementById('hb-warning');
            const origin = document.getElementById('hb-origin');

            let originalhb;
            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if(preparing){
                    originalhb = data.value;
                }else{
                    origin.innerText = originalhb;
                    let diff = data.value - originalhb;
                    if(  diff < -40 || data.value > 100){
                        warning.innerText = "high heart rate";
                    }else if(diff > 40){
                        warning.innerText = "heart rate raised > 40";
                    }
                    else{
                        warning.innerText = "";
                    }
                    config.data.labels.push(data.time);
                    config.data.datasets[0].data.push(data.value);
                    if (config.data.labels.length === customConfig.length) {
                        config.data.labels.shift();
                        config.data.datasets[0].data[0] = config.data.datasets[0].data[1];
                        config.data.datasets[0].data.splice(1, 1);
                        lineChart.update();
                    }
                   
                    currentHb.innerText = data.value + ' / min';
                    lineChart.update();
                }
            }
        }

        function spo2() {
            const customConfig = { lineColor: '#2ac2f5', length: 10 };
            let config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        backgroundColor: customConfig.lineColor,
                        borderColor: customConfig.lineColor,
                        data: [],
                        fill: true,
                    }],
                },
                options: {
                    legend: {
                        display: false,
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            display: false,
                            scaleLabel: {
                                display: false,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            ticks: {
                                fontColor:'white',
                                suggestedMin: 50,
                                suggestedMax: 100,
                                fontSize:15
                            },
                            scaleLabel: {
                                display: false,
                                labelString: 'Value'
                            }
                        }]
                    }
                }
            };

            const context = document.getElementById('spo2-chart').getContext('2d');

            const lineChart = new Chart(context, config);

            const source = new EventSource("/chart-data/spo2");
            const currentSpo2 = document.getElementById('spo2-data');
            const warning = document.getElementById('spo2-warning');
            const origin = document.getElementById('spo2-origin');
            let origianlSpo2;
            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                config.data.labels.push(data.time);
                config.data.datasets[0].data.push(data.value);
                if(preparing){
                    origianlSpo2 = data.value;
                }else{
                    origin.innerText = origianlSpo2;
                    if(data.value<95){
                        warning.innerText="low oxygen level";
                    }else{
                        warning.innerText="";
                    }
                    if (config.data.labels.length === customConfig.length) {
                        config.data.labels.shift();
                        config.data.datasets[0].data[0] = config.data.datasets[0].data[1];
                        config.data.datasets[0].data.splice(1, 1);
                        lineChart.update();
                    }
                    currentSpo2.innerText = data.value+'%';
                    lineChart.update();
                }
            }
        }

        function accel() {
            const source = new EventSource("/chart-data/accel");
            const currentMotion = document.getElementById('accel-data');
            const warning = document.getElementById('accel-warning');
            timeout = null;
            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if(preparing){

                }else{
                    currentMotion.innerText = data.value;
                    if(event.value === 'jerked'){
                        clearTimeout(timeout);
                        warning.innerText="patient jerked"
                        timeout = setTimeout(
                            function() {
                                warning.innerText='';
                            },2000
                        )
                    }else{
                    }
                }
            }
        }

        function temp() {
            const source = new EventSource("/chart-data/temp");
            const currentTemp = document.getElementById('temp-data');
            const warning = document.getElementById('temp-warning');
            const origin = document.getElementById('temp-origin');
            let originalTemp;
            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if(preparing){
                    originalTemp = data.value;
                }else{
                    origin.innerHTML = originalTemp;
                    currentTemp.innerText = data.value+'°C';
                    if (data.value > 37.5){
                        warning.innerText="high body temperature"
                    }else{
                        warning.innerText=""
                    }
                }
            }
        }

        function sr() {
            const source = new EventSource("/chart-data/sr");
            const currentSr = document.getElementById('sr-data');
            const warning = document.getElementById('sr-warning');
            const origin = document.getElementById('sr-origin');

            let originalSr;
            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                if(preparing){
                    originalSr = data.value;
                }else{
                    origin.innerText=originalSr;
                    const diff = originalSr - data.value; 
                    if(diff > 500){
                        warning.innerText="sweating";
                    }else{
                        warning.innerText="";
                    }
                    currentSr.innerText = data.value+' mΩ';
                }
            }
        }

        // //=========== "temp" ===========
        // $(document).ready(function () {

        //     const context = document.getElementById('canvas3').getContext('2d');

        //     const lineChart = new Chart(context, config);

        //     const source = new EventSource("/chart-data");

        //     source.onmessage = function (event) {
        //         const data = JSON.parse(event.data);
        //         if (config.data.labels.length === 10) {
        //             config.data.labels.shift();
        //             config.data.datasets[0].data.shift();
        //         }
        //         config.data.labels.push(data.time);
        //         config.data.datasets[0].data.push(data.value);
        //         config.data.datasets[0].label = 'Heart Rate    Current Heart rate: ' + data.va;
        //         lineChart.update();
        //     }
        // });


        // //=========== "sr" ===========

        // $(document).ready(function () {
        //     const hrConfig = { lineColor: 'green' };

        //     let config = {
        //         type: 'line',
        //         data: {
        //             labels: [],
        //             datasets: [{
        //                 label: "Heart Rate",
        //                 backgroundColor: hrConfig.lineColor,
        //                 borderColor: hrConfig.lineColor,
        //                 data: [],
        //                 fill: false,
        //             }],
        //         },
        //         options: {
        //             responsive: true,
        //             title: {
        //                 display: true,
        //                 text: 'Heart Rate'
        //             },
        //             tooltips: {
        //                 mode: 'index',
        //                 intersect: false,
        //             },
        //             hover: {
        //                 mode: 'nearest',
        //                 intersect: false
        //             },
        //             scales: {
        //                 xAxes: [{
        //                     display: true,
        //                     scaleLabel: {
        //                         display: true,
        //                         labelString: 'Time'
        //                     }
        //                 }],
        //                 yAxes: [{
        //                     display: true,
        //                     scaleLabel: {
        //                         display: true,
        //                         labelString: 'Value'
        //                     }
        //                 }]
        //             }
        //         }
        //     };

        //     const context = document.getElementById('canvas4').getContext('2d');

        //     const lineChart = new Chart(context, config);

        //     const source = new EventSource("/chart-data");

        //     source.onmessage = function (event) {
        //         const data = JSON.parse(event.data);
        //         if (config.data.labels.length === 10) {
        //             config.data.labels.shift();
        //             config.data.datasets[0].data.shift();
        //         }
        //         config.data.labels.push(data.time);
        //         config.data.datasets[0].data.push(data.value);
        //         config.data.datasets[0].label = 'Heart Rate    Current Heart rate: ' + data.va;
        //         lineChart.update();
        //     }
        // });

    </script>

</body>

</html>